.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li:hover {
  background-color: #59a;
}

.edit {
  margin-right: 15px;
  color: #51c5de;
}

.delete {
  margin-right: 15px;
  color: #f04c64;
}

.edit:hover, .delete:hover {
  color:black;
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li div {
  display: flex;
  align-items: center;
}
